body{
padding: 0;
margin: 0;
overflow-y: hidden;
overflow-x: hidden;
color: white;
font-size: 15px;
background-color: hsl(0, 0%, 95%);
}

.sedan {
    background-color: #e38826;
    margin-left: auto;
}
.suv{
background-color: #006970;
}
.luxury{
background-color: #004241;
margin-right: auto;
}

div{
    width: 280px;
    height: 450px;
    margin-top: 100px;
}
main{
    display: flex;
}

h1, p, button{
    margin-left: 40px;
    margin-right: 35px;
}
img{
    padding-left: 50px;
    padding-top: 50px;
}
h1{
    font-family: 'Big Shoulders Display',
    cursive;
}
p{
    font-family: 'Lexend Deca',
    sans-serif;
   color: hsla(0, 0%, 100%, 0.75);

}
button{
    color: hsl(0, 0%, 95%);
    border: 1px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 20px;
}
.sedan > button{
background-color:#e38826;
}
.suv > button{
background-color:#006970;
}

.luxury > button{
background-color: #004241;
}